@import './variables.css';

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  width: 100vw;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--secondary-color);
  overflow-x: hidden;
}

/* Remove any max-width constraints from containers */
.container {
  max-width: 100% !important;
}

/* Utility classes */
.text-primary {
  color: var(--primary-color) !important;
}

.bg-custom-gradient {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* Add other global styles */

/* Layout styles */
.app-layout {
  display: grid;
  grid-template-columns: 240px 1fr; /* Sidebar is fixed, content fills rest 140 original */ 
  height: 100vh; /* Full height of the viewport */
  background-color: aquamarine;
  
}


/* Main content area */
.container-main {
  flex: 1;
  padding: 20px;
  background-color: #f5f7fa;
}

/* Mobile Responsive */
@media (max-width: 1024px) {
  .container-main {
    margin-left: 0;
    /* padding: 60px 15px 15px; Added top padding for menu button */
  }

  .app-layout {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .navBarClass {
    position: absolute; /*just keep shit out of frame!*/
  }

  

  
} 











